<html>
    <h1>
		{{ .title }}
	</h1>
    <script src="/assets/js/test2.js"></script>
    <script src="/assets/test.js"></script>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>NO. </th>
                    <th>Admin ID</th>
                </tr>
            </thead>
            <tbody>
                {{range .users}}
                    <tr>
                        <td>{{.Admin_id}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</html> 